//popover css used in signup page for client side validation

#signup_page .popover {
  background-color: rgba(0, 0, 0, 0.6);
  color:white;
  height:60px;
  width:500px;
}

#signup_page .popover.right > .arrow:after {
  border-right-color: rgba(0, 0, 0, 0.6);
}